.black__banner{
    min-height: 65vh;
    display: flex;
    align-items: center;
    background-image: url(https://i.ibb.co/YQGFG5P/BLACK-BURGER-BG.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: flex-start;
    padding: 2rem 9%;
    margin-bottom: 4rem;
}


.banner__content{
    width: 50%;
}

.first__info{
    margin-bottom: 50px;
}

.first__info h2{
    margin-bottom: 5px;
    color: #fff;
}

.second__info{
    display: flex;
    gap: 20px;
}

.info__menu span{
    font-weight: 500;
    color: rgb(219, 219, 219);
}


@media only screen and (min-width:321px) and (max-width:768px){
    .banner__content{
        width: 80%;
    } 
}