

.delivery__container{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/images/BG/McDonald\'s_Golden_Arches.svg.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    justify-content: flex-start;
    padding: 2rem 9%;
    margin-top: 8rem;
}
.delivery__container h2{
    margin-bottom: 60px;
    font-size: 1.5rem;
}

.delivery__wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    text-align: center;
}

.delivery__wrapper img{
    margin: auto;
    margin-bottom: 25px;
}

.delivery__info span{
    font-size: 20px;
    font-weight: 700;
    color: var(--color-bg);
}
.delivery__info p{
    margin-top: 10px;
}

/* @media only screen and (min-width: 992px){
    .delivery__container{
        margin: 0.5rem 0rem;
        min-height: 60vh;
    }
    .delivery__container{
        background-image: url("../assets/images/BG/McDonald\'s_Golden_Arches-Tablet-bg.svg.png");
    }
} */

@media only screen and (min-width:321px) and (max-width:768px){
    .delivery__container{
        margin: 0.5rem 0rem;
        min-height: 60vh;
    }
    .delivery__wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    .delivery__content img{
        width: 50%;
        margin: auto;
    }
    .delivery__container h2{
        margin-bottom: 30px;
        font-size: 1rem;
    }

    .delivery__info span{
        font-size:16px;
        font-weight: 700;
        color: var(--color-bg);
    }
    .delivery__info p{
        font-size: 12px;
        margin-top: 5px;
    }
    .delivery__container{
        background-image: url("../assets/images/BG/McDonald\'s_Golden_Arches-Tablet-bg.svg.png");
    }
}

@media only screen and (max-width:768px){
    .delivery__wrapper{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .delivery__content{
        width: 80%;
        margin: auto;
    }
    .delivery__container{
        background-size: auto;
    }
    .delivery__container h2{
        margin-bottom: 20px;
        font-size: 1.5rem;
        text-align: center;
    }
}