.header{
    width: 100%;
    height: 80px;
    /* line-height: 80px; */
    position: fixed;
    top: 0;
    /* z-index: 1000; */
    /* padding: 3rem 9%; */
}


.logo img{
    width: 75px;
    object-fit: contain;
    
}

.menu a {
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    transition: 0.3s;
}

.menu a:hover{
    color: #fa0203;
    
}

.active__menu{
    color: #fa0203 !important;
}

.cart__icon i,
.user i,
.mobile__menu i{
    font-size: 1.3rem;
    color: #ffffff;
    cursor: pointer;
}

.cart__icon{
    position: relative;
}

.cart__badge{
    position: absolute;
    top: -12px;
    right: -10px;
    background: #fa0203;
    color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: .8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.online__order{
    background-color: #fa0203;
    color: #fff;
    font-size: 13px;
    padding: 5px 15px;
    border-radius:25px;
    cursor: pointer;
    
}
.online__location{
    background-color:#f8f8fa3a;
    color: #ffffff;
    font-size: 13px;
    padding: 5px 15px;
    border-radius:25px;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    
}

.online__location i{
    font-size: 20px !important;
    color: #fa0203;
}


.mobile__menu{
    font-weight: 600;
    display: none;
}

.header__shrink{
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 15px -5px #fde4e4;
}

@media only screen and (max-width: 992px){

    .logo img{
        width: 70px;
    }

    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.425);
        z-index: 99;
        display: none;
    }

    .menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        line-height: 20px;
    }

    .menu a{
        font-size: 0.9rem;
    }

    .mobile__menu{
        display: block;
    }

    .cart__icon i,
    .user i,
    .mobile__menu i{
    font-size: 1rem;
    }

    .show__menu{
        display: block;
    }
}

@media only screen and (max-width:768px){
    .header{
        width: 100%;
        height: 50px;
        line-height: 50px;
    }
    .logo img{
        width: 56px;
        
    }
}