.swiper-pagination-bullet{
    color: red !important;
    background-color: rgb(255, 255, 255) !important;
    padding: 8px;
}
.swiper-pagination{
    margin-bottom: 25px;
}
.box{
    min-height: 90vh;
    display: flex;
    align-items: center;
    background-image: url(https://i.ibb.co/F0TLTGy/food-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: flex-start;
    padding: 2rem 9%;
    /* margin-top: -82px; */
}
.box__2{
    min-height: 90vh;
    display: flex;
    align-items: center;
    background-image: url(https://i.ibb.co/28KW34q/food-cover-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: flex-start;
    padding: 2rem 9%;
    /* margin-top: -82px; */
}

.box__3{
    min-height: 90vh;
    display: flex;
    align-items: center;
    background-image: url(https://i.ibb.co/1r199hj/food-cover-use-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: flex-start;
    padding: 2rem 9%;
    /* margin-top: -82px; */
}

.banner-title{
    display: flex;
    flex-direction: column;
}

.banner-title > span{
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    margin-top: -20px;
}

.price{
    display: flex;
    gap: 12px;
    border: 2px solid #fff;
    padding: 1px 45px;
    color: rgb(177, 177, 177);
    align-items: center;
    margin-top: 15px;
}

.price > div{
    height: 40px;
    width: 2px;
    background: #fff;
}

.price__rs{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.plus{
    position: relative;
    font-size: 25px;
    left: 27px;
    color: #fff !important; 
}

.price li{
    list-style: disc;
}

@media only screen and (max-width:768px){

    .content{
        margin-top: 60px;
    }
    .banner-title > span{
        font-size: 40px;
        font-weight: 900;
        color: #fff;
        margin-top: -20px;
    }
    .price{
        display: flex;
        gap: 12px;
        border: 2px solid #fff;
        padding: 1px 20px;
        color: rgb(177, 177, 177);
        align-items: center;
        margin-top: 15px;
    }
    .price__rs{
        font-size: 15px;
        font-weight: 600;
        color: #fff;
    }

    .price li{
        font-size: 12px;
        list-style: none;
    }
    .plus{
        position: relative;
        font-size: 25px;
        left: 15px;
        color: #fff !important; 
    }
    
}