.swiper-pagination-bullet{
    color: red !important;
    background-color: rgb(255, 255, 255);
    padding: 8px;
}
.swiper-pagination{
    margin-bottom: 25px;
}

.box__1, .box__2, .box__3{
    min-height: 90vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: flex-start;
    padding: 2rem 9%;
}

.box__1{
    background-image: url(https://i.ibb.co/F0TLTGy/food-cover.jpg);
    /* margin-top: -82px; */
}
.box__2{
    background-image: url(https://i.ibb.co/28KW34q/food-cover-03.jpg);
    justify-content: center !important;
    /* margin-top: -82px; */
    
}
.box__3{
    background-image: url(https://i.ibb.co/1r199hj/food-cover-use-02.jpg);
    /* margin-top: -82px; */
}

.second-title span{
    font-size: 50px;
    font-weight: 900;
    color: #fff !important;
}


.banner-title{
    display: flex;
    flex-direction: column;
}

.banner-title > span{
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    margin-top: -20px;
}


.price{
    display: flex;
    gap: 12px;
    border: 2px solid #fff;
    padding: 1px 45px;
    color: rgb(177, 177, 177);
    align-items: center;
    margin-top: 15px;
    width: 440px;
}

.price > div{
    height: 40px;
    width: 2px;
    background: #fff;
}

.price__rs{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.plus{
    position: relative;
    font-size: 25px;
    left: 27px;
    color: #fff !important; 
}

.price li{
    list-style: disc;
}

.banner-button{
    color: #fff;
    border: 2px solid #fff;
    width: 200px;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    
}

.banner-button {
   /* background: #000; */
  color: #fff;
  z-index: 1;
}
.banner-button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
   background: #e0e5ec;
  transition: all 0.3s ease;
}
.banner-button:hover {
  color: #000;
}
.banner-button:hover:after {
  left: 0;
  width: 100%;
}
.banner-button:active {
  top: 2px;
}
 

@media only screen and (max-width:768px){

    .content{
        margin-top: 60px;
    }
    .box, .box__2, .box__3{
        justify-content: center;
        text-align: center;
    }
    .banner-title > span{
        font-size: 40px;
        font-weight: 900;
        color: #fff;
        margin-top: -20px;
    }
    .second-title span{
        font-size: 40px;
        font-weight: 900;
        color: #fff;
        line-height: 45px;
    }
    .third-title{
        line-height: 45px;
    }
    .price{
        display: flex;
        gap: 12px;
        border: 2px solid #fff;
        padding: 1px 20px;
        color: rgb(177, 177, 177);
        align-items: center;
        margin-top: 15px;
        width: 100%;
    }
    .price__rs{
        font-size: 15px;
        font-weight: 600;
        color: #fff;
    }

    .price li{
        font-size: 12px;
        list-style: none;
    }
    .plus{
        position: relative;
        font-size: 25px;
        left: 15px;
        color: #fff !important; 
    }
    
}