.choose__title img{
    width: 500px;
    margin: auto;
}
.choose__title{
    margin-bottom: 2rem;
}
.choose__title h1{
    text-align: center;
    margin: auto;
    margin-top: -70px;
}
.choose__container{
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    background-image: url(https://i.ibb.co/DkT9Bf2/Why-choos-us-Bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    justify-content: flex-start;
    /* padding: 2rem 9%; */
    /* margin-top: -82px; */
}
.choose__wrapper{
    padding: 2rem 9%;
}

.choose__content{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 10%;
    width: 80%;
    text-align: center;
}

.choose__img img{
    width: 50%;
    margin: auto;
}

.choose__img, .choose__info{
    width: 50%;
}

.choose__info h1{
    font-size: 1.51rem;
    margin-bottom: 8px;
}

@media only screen and (max-width:768px){
    .choose__title h1{
        font-size: 2rem !important;
        margin-top: -50px;
    }

    .choose__content{
        flex-direction: column;
        align-items: center;
        margin: auto;
        gap: 20px;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .choose__content2{
        flex-direction: column-reverse;
    }

    .choose__img, .choose__info{
        width: 100%;
    }

    .choose__container{
        background-image: url(https://i.ibb.co/DkT9Bf2/Why-choos-us-Bg.jpg);
        background-size:contain;
    }
}
