
@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* reset default style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base style */

html, body{
  scroll-behavior: smooth;
}


body {
  background: #fcfcfc;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Abril Fatface', cursive !important;
}

a{
  text-decoration: none;
  color: unset;
}

h1,
h2{
  font-size: 2.1rem;
  font-weight: 400;
  color: #212245;
}

section{
  padding: 60px 0px;
}